<div class="afterLoginPageMain">
  <div class="contentBgGradient"></div>
<div class="container-fluid">
  <div class="contentAreaBox p-0">

<div class="postLoadMain position-relative">
  <div class="formLoadPost">
<div>
  <form>
  <div class="form-group">
    <select class="form-control" id="exampleFormControlSelect1">
      <option>All Vehicles</option>
      <option>Running</option>
      <option>Offline</option>
      <option>Stopped</option>
    </select>
  </div>
  <div class="form-group position-relative searchVehicleMain">
    <input type="text" class="form-control" placeholder="Search vehicle.." />
    <div class="searchVehicIcon">
      <img src="assets/img/searchIcon.png" alt="">
    </div>
  </div>
  </form>
</div>
<ul>
  <li>
    <div class="d-flex justify-content-start align-items-center">
      <div class="truckImgTRK">
        <img src="assets/img/runningTruck.svg" alt="">
      </div>
      <div class="truckInfoTRK">
          <div class="truckNumb">MH40AK2251</div>
          <div class="truckDriverInfo">Bisen (9130904014)</div>
      </div>
    </div>
  </li>
  <li>
    <div class="d-flex justify-content-start align-items-center">
      <div class="truckImgTRK">
        <img src="assets/img/offlineTruck.svg" alt="">
      </div>
      <div class="truckInfoTRK">
          <div class="truckNumb">MH40AK2251</div>
          <div class="truckDriverInfo">Bisen (9130904014)</div>
      </div>
    </div>
  </li>
  <li>
    <div class="d-flex justify-content-start align-items-center">
      <div class="truckImgTRK">
        <img src="assets/img/runningTruck.svg" alt="">
      </div>
      <div class="truckInfoTRK">
          <div class="truckNumb">MH40AK2251</div>
          <div class="truckDriverInfo">Bisen (9130904014)</div>
      </div>
    </div>
  </li>
  <li>
    <div class="d-flex justify-content-start align-items-center">
      <div class="truckImgTRK">
        <img src="assets/img/offlineTruck.svg" alt="">
      </div>
      <div class="truckInfoTRK">
          <div class="truckNumb">MH40AK2251</div>
          <div class="truckDriverInfo">Bisen (9130904014)</div>
      </div>
    </div>
  </li>
  <li>
    <div class="d-flex justify-content-start align-items-center">
      <div class="truckImgTRK">
        <img src="assets/img/stoppedTruck.svg" alt="">
      </div>
      <div class="truckInfoTRK">
          <div class="truckNumb">MH40AK2251</div>
          <div class="truckDriverInfo">Bisen (9130904014)</div>
      </div>
    </div>
  </li>
  <li>
    <div class="d-flex justify-content-start align-items-center">
      <div class="truckImgTRK">
        <img src="assets/img/runningTruck.svg" alt="">
      </div>
      <div class="truckInfoTRK">
          <div class="truckNumb">MH40AK2251</div>
          <div class="truckDriverInfo">Bisen (9130904014)</div>
      </div>
    </div>
  </li>
  <li>
    <div class="d-flex justify-content-start align-items-center">
      <div class="truckImgTRK">
        <img src="assets/img/offlineTruck.svg" alt="">
      </div>
      <div class="truckInfoTRK">
          <div class="truckNumb">MH40AK2251</div>
          <div class="truckDriverInfo">Bisen (9130904014)</div>
      </div>
    </div>
  </li>
  <li>
    <div class="d-flex justify-content-start align-items-center">
      <div class="truckImgTRK">
        <img src="assets/img/stoppedTruck.svg" alt="">
      </div>
      <div class="truckInfoTRK">
          <div class="truckNumb">MH40AK2251</div>
          <div class="truckDriverInfo">Bisen (9130904014)</div>
      </div>
    </div>
  </li>


</ul>


  </div>
  <div class="mapStyPL">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7736975.333531421!2d72.27879838395255!3d18.761576096283203!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcfc41e9c9cd6f9%3A0x1b2f22924be04fb6!2sMaharashtra!5e0!3m2!1sen!2sin!4v1575537044696!5m2!1sen!2sin" frameborder="0" allowfullscreen=""></iframe>
  </div>
</div>







<div class="vehicleDetailsSec">
  <div class="vehicleDetailsInr">

<div class="d-flex justify-content-between align-items-start">
  <div>
  <div class="d-flex justify-content-start align-items-start">
    <div class="mr-3">
      <div class="d-flex justify-content-start align-items-start">
        <div class="mr-2 mt-1"><img src="assets/img/dateAndTime.png" alt=""></div>
        <div>
          <span>Date and Time</span>
          <label>19/12/2019 06:06PM</label>
        </div>
      </div>
    </div>

    <div class="mr-3">
      <div class="d-flex justify-content-start align-items-start">
        <div class="mr-2 mt-1"><img src="assets/img/userIcon.png" alt=""></div>
        <div>
            <span>User</span>
            <label>Ram (+91 9604601273)</label>
        </div>
      </div>
    </div>

    <div class="mr-3">
      <div class="d-flex justify-content-start align-items-start">
        <div class="mr-2 mt-1"><img src="assets/img/fuel.png" alt=""></div>
        <div>
          <span>Fuel</span>
          <label>Not applicable</label>
        </div>
      </div>
    </div>

    <div>
      <div class="d-flex justify-content-start align-items-start">
        <div class="mr-2 mt-1"><img src="assets/img/speed.png" alt=""></div>
        <div>
            <span>Speed</span>
            <label>6 Km/h</label>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
    <div>
      <div class="d-flex justify-content-start align-items-center">
        <div class="mr-2 mt-1"><img src="assets/img/runningDot.png" class="blink-image" alt=""></div>
        <div>
            <label class="m-0">MH40AK2251</label>
        </div>
      </div>
    </div>
</div>

</div>

    <div class="mt-2">
      <div class="d-flex justify-content-start align-items-center">
        <div class="mr-2"><img src="assets/img/locationRedIcon.png" alt=""></div>
        <div>
          <label class="m-0">NH 44, Jamtha, Maharashtra 441108, India</label>
        </div>
      </div>
    </div>






  </div>

</div>






  </div>
</div>


</div>
