<app-header-before-login></app-header-before-login>
<div class="bannerMain">
    <div class="cityImg"></div>
    <div class="roadBg"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-7 col-lg-8 order-2 order-md-1">
                <div class="banrImgSty">
                    <div class="containerTrc">
                        <div class="truckSty">
                            <div class="text-center">
                                <img src="assets/img/truckImg.png" alt="">
                            </div>
                            <div class="wind">
                                <div class="p p1"></div>
                                <div class="p p2"></div>
                                <div class="p p3"></div>
                                <div class="p p4"></div>
                                <div class="p p5"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-5 col-lg-4 order-1 order-md-2">
                <app-login></app-login>
            </div>
        </div>
    </div>
</div>

<div class="aboutusSecMain" id="aboutus_id">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="aboutusSecInr" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="100">
                    <h2 class="aboutusSecTitle sectionTitles">About Us <span></span></h2>
                    <p>Are vehicles integral to your business? Get the best GPS vehicle tracking system in India by ShauryaTrack, and transform your business beyond imaginations.</p>
                    <p>We are an IoT-based firm that offers impeccable GPS tracking for trucks and fleet management services via our vehicle and fleet management software across India. Also, we are among the noted AIS 140 certified devices dealers in India. So, with us, peace of mind is guaranteed along with cost-effectiveness.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="servicesSecM pt-4 pb-4">

    <div class="container">
      <h2 class="featureSecTitle sectionTitles">Feature and Benefits <span></span></h2>
        <div class="row">
          <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="d-flex justify-content-start align-items-start servBox">
                  <div class="servIconSty mr-2">
                    <img src="assets/img/RealTimeTracking.png" alt="" />
                  </div>
                  <div class="servInfoSty">
                    <h3>Realtime Tracking</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                  </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="d-flex justify-content-start align-items-start servBox">
                  <div class="servIconSty mr-2">
                    <img src="assets/img/geography.png" alt="" />
                  </div>
                  <div class="servInfoSty">
                    <h3>Geography</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                  </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="d-flex justify-content-start align-items-start servBox">
                  <div class="servIconSty mr-2">
                    <img src="assets/img/realTimeAlerts.png" alt="" />
                  </div>
                  <div class="servInfoSty">
                    <h3>Real-Time Alerts</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                  </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="d-flex justify-content-start align-items-start servBox">
                  <div class="servIconSty mr-2">
                    <img src="assets/img/safeMode.png" alt="" />
                  </div>
                  <div class="servInfoSty">
                    <h3>Safe Mode</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                  </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="d-flex justify-content-start align-items-start servBox">
                  <div class="servIconSty mr-2">
                    <img src="assets/img/reportsHistory.png" alt="" />
                  </div>
                  <div class="servInfoSty">
                    <h3>Reports & History</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                  </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="d-flex justify-content-start align-items-start servBox">
                  <div class="servIconSty mr-2">
                    <img src="assets/img/saveMoney.png" alt="" />
                  </div>
                  <div class="servInfoSty">
                    <h3>Save Money</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                  </div>
            </div>
          </div>
        </div>
    </div>
</div>

<div class="mobileAppSecMain">
  <div class="container">
    <h2 class="mobileAppSecTitle sectionTitles">Shaurya Track App <span></span></h2>
    <div class="row mt-3">
      <div class="col-sm-12 col-md-5 col-lg-5">
        <div class="d-flex justify-content-center">
            <div class="mobAppImg">
              <img src="assets/img/mobileApp.png" alt="">
            </div>
            <div class="mobAppImg">
              <img src="assets/img/mobileAppDev.png" alt="">
            </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-7 col-lg-7">
          <div class="servBox mb-5">
                <div class="servInfoSty">
                  <h3>Realtime Tracking</h3>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                </div>
          </div>
          <div class="servBox mb-5">
                <div class="servInfoSty">
                  <h3>Alerts and Notifications</h3>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                </div>
          </div>
          <div class="servBox mb-5">
                <div class="servInfoSty">
                  <h3>Reporting and Analytics</h3>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                </div>
          </div>
          <div class="servBox">
                <div class="servInfoSty">
                  <h3>Remote Engine Cut-off</h3>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                </div>
          </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="supportPrivacyTrackingMain">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="boxStyMain">
                    <div class="imgMain" data-aos="fade-up-right" data-aos-duration="1600" data-aos-delay="150"><img src="assets/img/support.png" alt=""> </div>
                    <h4 class="boxTitleSPT">24/7 Support</h4>
                    <p>Apps that are not preinstalled are usually available through distribution platforms called app stores</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="boxStyMain">
                    <div class="imgMain" data-aos="fade-down" data-aos-duration="1700" data-aos-delay="160"><img src="assets/img/privacyIcon.png" alt=""> </div>
                    <h4 class="boxTitleSPT">Data Privacy</h4>
                    <p>Apps that are not preinstalled are usually available through distribution platforms called app stores</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="boxStyMain">
                    <div class="imgMain" data-aos="fade-up-left" data-aos-duration="1800" data-aos-delay="170">
                        <div class="squareSty"></div> <img src="assets/img/route.png" alt="">
                    </div>
                    <h4 class="boxTitleSPT">Easy Tracking</h4>
                    <p>Apps that are not preinstalled are usually available through distribution platforms called app stores</p>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="ourClientsMain">
    <div class="container">
        <h2 class="ourClientsTitle sectionTitles">Our Customers <span></span> </h2>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="d-flex flex-column flex-md-row">
                        <div class="ourClientsBox" data-aos="flip-left" data-aos-duration="1500" data-aos-delay="100">
                            <div class="ourClientsImg"><img src="assets/img/avt.jpg" alt=""></div>
                            <h6 class="ourClientTitle">Vinit Bhise</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                        <div class="ourClientsBox" data-aos="flip-right"  data-aos-duration="1600" data-aos-delay="120">
                            <div class="ourClientsImg"><img src="assets/img/avatars/avatar_02.jpg" alt=""></div>
                            <h6 class="ourClientTitle">Amar Gaikwad</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                        <div class="ourClientsBox" data-aos="flip-left"  data-aos-duration="1700" data-aos-delay="130">
                            <div class="ourClientsImg"><img src="assets/img/avatars/avatar_01.jpg" alt=""></div>
                            <h6 class="ourClientTitle">Vinit Bhise</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-flex flex-column flex-md-row">
                        <div class="ourClientsBox" data-aos="flip-left" data-aos-duration="1500" data-aos-delay="100">
                            <div class="ourClientsImg"><img src="assets/img/avatars/avatar_03.jpeg" alt=""></div>
                            <h6 class="ourClientTitle">Vinit Bhise</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                        <div class="ourClientsBox" data-aos="flip-right"  data-aos-duration="1600" data-aos-delay="120">
                            <div class="ourClientsImg"><img src="assets/img/avatars/avatar_04.jpeg" alt=""></div>
                            <h6 class="ourClientTitle">Amar Gaikwad</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                        <div class="ourClientsBox" data-aos="flip-left"  data-aos-duration="1700" data-aos-delay="130">
                            <div class="ourClientsImg"><img src="assets/img/avatars/avatar_05.jpg" alt=""></div>
                            <h6 class="ourClientTitle">Vinit Bhise</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pricingMain">
  <div class="container">
    <h2 class="pricingTitle sectionTitles">Pricing <span></span> </h2>
    <div class="row">
      <div class="col-sm-12 col-md-4 col-lg-4">
        <div class="pricingBoxMain">
          <div class="pricingHed">
            <div class="pricingPlanType">Basic</div>
            <div class="pricingTextType">A simple start for everyone</div>
            <div class="amountAndSymbol">
              <span><img src="assets/img/currency-inr.png" alt=""></span>
              <label>1800</label>
            </div>
            <div class="monthlyCharg">Per user / month</div>
          </div>
          <ul class="pricingFeatureList">
            <li><span></span> <label>Minute-wise location details</label> </li>
            <li><span></span> <label>Remote fuel monitoring</label> </li>
            <li><span></span> <label>Remote engine cut off</label> </li>
            <li><span></span> <label>Real-time notification</label> </li>
            <li><span></span> <label>Geo fencing</label> </li>
            <li><span></span> <label>Geo Tagging</label> </li>
          </ul>
          <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-primary">Get Started</button>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4">
        <div class="pricingBoxMain">
          <div class="pricingHed">
            <div class="pricingPlanType">Standard</div>
            <div class="pricingTextType">For small and medium businesses</div>
            <div class="amountAndSymbol">
              <span><img src="assets/img/currency-inr.png" alt=""></span>
              <label>3600</label>
            </div>
            <div class="monthlyCharg">Per user / month</div>
          </div>
          <ul class="pricingFeatureList">
            <li><span></span> <label>Minute-wise location details</label> </li>
            <li><span></span> <label>Remote fuel monitoring</label> </li>
            <li><span></span> <label>Remote engine cut off</label> </li>
            <li><span></span> <label>Real-time notification</label> </li>
            <li><span></span> <label>Geo fencing</label> </li>
            <li><span></span> <label>Geo Tagging</label> </li>
          </ul>
          <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-primary">Get Started</button>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4">
        <div class="pricingBoxMain">
          <div class="pricingHed">
            <div class="pricingPlanType">Enterprise</div>
            <div class="pricingTextType">Solution for big organizations</div>
            <div class="amountAndSymbol">
              <span><img src="assets/img/currency-inr.png" alt=""></span>
              <label>5000</label>
            </div>
            <div class="monthlyCharg">Per user / month</div>
          </div>
          <ul class="pricingFeatureList">
            <li><span></span> <label>Minute-wise location details</label> </li>
            <li><span></span> <label>Remote fuel monitoring</label> </li>
            <li><span></span> <label>Remote engine cut off</label> </li>
            <li><span></span> <label>Real-time notification</label> </li>
            <li><span></span> <label>Geo fencing</label> </li>
            <li><span></span> <label>Geo Tagging</label> </li>
          </ul>
          <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-primary">Get Started</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="contactUsSecMain">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="contactUsSecInr">
                    <div>
                        <h2 id="contactUs_id" class="contactUsSecSecTitle sectionTitles" data-aos="fade-right" data-aos-duration="1500" data-aos-delay="100">Get in Touch <span></span> </h2>
                        <p>Preinstalled that are not preinstalled are usually available through distribution platforms called app stores preinstalled that are not preinstalled are usually available through distribution platforms called app stores Preinstalled that are not preinstalled are usually available through distribution platforms</p>
                    </div>
                    <div class="pt-4 pb-4">
                        <div class="row">
                            <div class="col-sm-12 col-md-4 col-lg-4">
                                <div class="pb-3">
                                    <address class="addressTextSty mb-2" data-aos="zoom-in-up" data-aos-duration="1600" data-aos-delay="100">
                                        <div class="d-flex">
                                            <div class="d-inline-block mt-1 mr-3"><i class="fas fa-map-marker-alt"></i></div>
                                            <div class="d-inline-block"><span class="contactBoldTitle">Address</span> Shaurya Technosoft Pvt. Ltd. 694/1/2/4, <br /> Adarsh Nagar, Satara road, Pune-411037.</div>
                                        </div>
                                        <div class="d-flex mt-2">
                                            <div class="d-inline-block mt-1 mr-1"><i class="fas fa-phone-alt mr-2"></i></div>
                                            <div class="d-inline-block"><span class="contactBoldTitle">Office</span> +91 20 24261344</div>
                                        </div>
                                        <div class="d-flex mt-2">
                                            <div class="d-inline-block mt-1 mr-1"><i class="fas fa-envelope mr-2"></i></div>
                                            <div class="d-inline-block"><span class="contactBoldTitle">Email</span> <a href="mailto:info@shauryatechnosoft.com">info@shauryatechnosoft.com</a></div>
                                        </div>
                                    </address>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-8 col-lg-8">
                                <div>
                                    <form data-aos="zoom-in-up" data-aos-duration="1600" data-aos-delay="150">
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="inputName_id">Name</label>
                                            <input type="text" class="form-control" id="inputName_id" placeholder="Name" />
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="inputMobileNum_id">Mobile Number</label>
                                            <input type="number" class="form-control" id="inputMobileNum_id" placeholder="Mobile Number" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputAddress">Email</label>
                                        <input type="email" class="form-control" id="inputEmail_id" placeholder="Email" />
                                    </div>
                                    <div class="form-group">
                                        <label for="address_id">Message</label>
                                        <textarea class="form-control" id="address_id" rows="3" placeholder="Message"></textarea>
                                    </div>
                                    <button type="button" class="btn sendMessageBtn btnGradientB waves-effect waves-red waves-ripple">Send Message</button>
                                </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="mapSectionMain">
    <div><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3783.870665783585!2d73.85557611436836!3d18.48951667495004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c01c0b5fc97f%3A0xb68adb697c096dcd!2sShaurya%20Technosoft%20Pvt.%20Ltd.!5e0!3m2!1sen!2sin!4v1569330082926!5m2!1sen!2sin" frameborder="0" style="border:none;" allowfullscreen=""></iframe></div>
</div>

<app-footer></app-footer>
